
.about-section{
	background-color: #2877B2;
	margin-top: 70px;
}

.site-history{
	padding: 30px;
}

.site-history h3{
	font-size: 26px;
	color: #F4F4F4;
	font-family: "Comic Sans MS";
	margin-bottom: 15px;
}

.site-history p{
	font-size: 18px;
	color: #F4F4F4;
	font-family: "Segoe UI";
	margin-bottom: 40px;
}

.site-history h4{
	font-size: 20px;
	color: #F4F4F4;
	font-family: "Tahoma";
}

.edit-about-section{
	margin-top: 100px;
}