
.address-wrapper{
	margin-top: 50px;
	margin-bottom: 50px;
}

.address-wrapper h4{
	font-size: 18px;
	margin-bottom: 0px;
}

.search-item{
	margin-left: 20px;
	margin-right: 20px;
}

.search-item h4{
	margin-bottom: 10px;
}

.address-form-section .form-group{
	margin-top: 30px;
	margin-bottom: 30px;
}

.address-form-section .image-section{
	padding-left: 0px;
}

.address-form-section .submit-btn{
	margin-left: 0px;
	padding-top: 0px;
	margin-top: 0px;
}

.address-form-section .submit-btn .btn-lg{
	margin-top: 0px;
}

.address-form-section .panel-heading h4{
	font-size: 18px;
	margin-top: 0px;
	line-height: 20px;
}