
.search-bar{
	padding: 15px 0px 30px 0px;
}

.search-bar h3{
	display: block;
	width: 445px;
	margin-left: auto;
	margin-right: auto;
}

.search-bar form{
	margin-top: 20px;
}

.search-item{
	height: 70px;
	margin-top: auto;
	margin-bottom: auto;
}

.search-item select, .search-item button{
	width: 200px;
}

.search-item button{
	margin-top: 25px;

}

.search-result-section{
	margin-top: 0px;
	margin-bottom: 40px;
}

.section-name-container{
	margin-left: 90px;
	width: 950px;
}

.error-msg{
	margin-top: 50px;
}

.error-msg h4{
	line-height: 20px;
	vertical-align: middle;
	margin-bottom: 0px;
}