$body-container-color: white;
$box-container-color: white;
$footer-color: #000000;
$footer-height: 75px;
$middle-headline-color: #575757;
$timeline-border-color: #9AC93D;
$primary-font: 'Roboto', sans-serif;
$grid-shadow: rgba(64, 64, 64, 0.4);
$notification-height: 80px;